/*
FreightSans Pro Book

font-family: freight-sans-pro, sans-serif;

font-weight: 400;

font-style: normal;


FreightSans Pro Book Italic

font-family: freight-sans-pro, sans-serif;

font-weight: 400;

font-style: italic;


FreightSans Pro Bold

font-family: freight-sans-pro, sans-serif;

font-weight: 700;

font-style: normal;


FreightSans Pro Bold Italic

font-family: freight-sans-pro, sans-serif;

font-weight: 700;

font-style: italic;


FreightSansHPro XLight

font-family: freight-sans-pro-lights, sans-serif;

font-weight: 300;

font-style: normal;


FreightSansHPro XLight Ita

font-family: freight-sans-pro-lights, sans-serif;

font-weight: 300;

font-style: italic;


FreightSansUPro UltraBlack

font-family: freight-sans-pro-ultra, sans-serif;

font-weight: 900;

font-style: normal;


FreightSansUPro UltraBlack Italic

font-family: freight-sans-pro-ultra, sans-serif;

font-weight: 900;

font-style: italic;


FreightSansHCmpPro XLight

font-family: freight-sans-compressed-pro, sans-serif;

font-weight: 300;

font-style: normal;


FreightSansHCmpPro XLight Ita

font-family: freight-sans-compressed-pro, sans-serif;

font-weight: 300;

font-style: italic;


FreightSansCmpPro Bold

font-family: freight-sans-compressed-pro, sans-serif;

font-weight: 700;

font-style: normal;


FreightSansCmpPro Bold Italic

font-family: freight-sans-compressed-pro, sans-serif;

font-weight: 700;

font-style: italic;


FreightSansCmpPro Book

font-family: freight-sans-compressed-pro, sans-serif;

font-weight: 400;

font-style: normal;


FreightSansCmpPro Book Italic

font-family: freight-sans-compressed-pro, sans-serif;

font-weight: 400;

font-style: italic;


FreightSansUCmpPro UltraBlack

font-family: freight-sans-compressed-pro, sans-serif;

font-weight: 900;

font-style: normal;


FreightSansUCmpPro UltraBlack Italic

font-family: freight-sans-compressed-pro, sans-serif;

font-weight: 900;

font-style: italic;


FreightSansCndPro Bold

font-family: freight-sans-condensed-pro, sans-serif;

font-weight: 700;

font-style: normal;


FreightSansCndPro Bold Italic

font-family: freight-sans-condensed-pro, sans-serif;

font-weight: 700;

font-style: italic;


FreightSansCndPro Book Italic

font-family: freight-sans-condensed-pro, sans-serif;

font-weight: 400;

font-style: italic;


FreightSansCndPro Book

font-family: freight-sans-condensed-pro, sans-serif;

font-weight: 400;

font-style: normal;


FreightSansHCndPro XLight

font-family: freight-sans-condensed-pro-l, sans-serif;

font-weight: 300;

font-style: normal;


FreightSansHCndPro XLight Ita

font-family: freight-sans-condensed-pro-l, sans-serif;

font-weight: 300;

font-style: italic;


FreightSansUCndPro UltraBlack

font-family: freight-sans-condensed-pro-u, sans-serif;

font-weight: 900;

font-style: normal;


FreightSansUCndPro UltraBlack Italic

font-family: freight-sans-condensed-pro-u, sans-serif;

font-weight: 900;

font-style: italic;
*/

/*////////////////////////////////*/



/*
Cabrito Didone Norm Regular

font-family: cabrito-didone-normal, sans-serif;

font-weight: 400;

font-style: normal;


Cabrito Didone Norm Regular It

font-family: cabrito-didone-normal, sans-serif;

font-weight: 400;

font-style: italic;


Cabrito Didone Norm Bold

font-family: cabrito-didone-normal, sans-serif;

font-weight: 700;

font-style: normal;


Cabrito Didone Norm Bold It

font-family: cabrito-didone-normal, sans-serif;

font-weight: 700;

font-style: italic;


Cabrito Didone Cond Regular

font-family: cabrito-didone-condensed, sans-serif;

font-weight: 400;

font-style: normal;


Cabrito Didone Cond Regular It

font-family: cabrito-didone-condensed, sans-serif;

font-weight: 400;

font-style: italic;


Cabrito Didone Cond Bold

font-family: cabrito-didone-condensed, sans-serif;

font-weight: 700;

font-style: normal;


Cabrito Didone Cond Bold It

font-family: cabrito-didone-condensed, sans-serif;

font-weight: 700;

font-style: italic;


Cabrito Didone Ext Regular

font-family: cabrito-didone-extended, sans-serif;

font-weight: 400;

font-style: normal;


Cabrito Didone Ext Regular It

font-family: cabrito-didone-extended, sans-serif;

font-weight: 400;

font-style: italic;


Cabrito Didone Ext Bold

font-family: cabrito-didone-extended, sans-serif;

font-weight: 700;

font-style: normal;


Cabrito Didone Ext Bold It

font-family: cabrito-didone-extended, sans-serif;

font-weight: 700;

font-style: italic;

*/
